<mat-toolbar fxLayout="row" fxLayoutAlign="center center">
  <nav mat-tab-nav-bar fxFlex="60%" mat-align-tabs="center">
    <a mat-tab-link fxFlex="33%" routerLink="/toprated"> Top Rated </a>
    <a mat-tab-link fxFlex="33%" routerLink="/popular"> Popular </a>
    <a mat-tab-link fxFlex="33%" routerLink="/all"> All Movies </a>
  </nav>
</mat-toolbar>
<div fxLayout="row" fxLayoutAlign="center center" class="main">
  <div fxFlex="60%" class="content">
    <!-- <router-outlet></router-outlet> -->
  </div>
</div>